<!--
  Generated template for the StartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Iniciar Proceso</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="startForm" (ngSubmit)="startSubmit()" autocomplete="off">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input placeholder="Arena (%)" id="arenaField" type="number" min="0" max="100" required formControlName="arena"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Cemento (%)" id="cementoField" type="number" required formControlName="cemento"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Piedra (%)" id="piedraField" type="number" required formControlName="piedra"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Agua y Aditivo (%)" id="aguaAditivoField" type="number" required formControlName="agua_aditivo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Agua (%)" id="aguaField" type="number" required formControlName="agua"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button class="submit-btn" full type="submit" [disabled]="!startForm.valid" color="secondary">Iniciar</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
