<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" autocomplete="off">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input placeholder="Username" id="loginField" type="text" required formControlName="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Password" id="passwordField" type="password" required formControlName="password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.valid">Login
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
