<!--
  Generated template for the LogPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Logs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list *ngIf="log">
    <ion-item *ngFor="let item of log">
      <h2>{{ item._user.first_name }}  {{ item._user.last_name }}</h2>
      <h3>{{item.createdAt |date:'MM/dd/yyyy @ h:mma'}}</h3>
      <p>Arena: {{ item.arena }}%</p>
      <p>Cemento: {{ item.cemento }}%</p>
      <p>Piedra: {{ item.piedra }}%</p>
      <p>Agua + Aditivo: {{ item.agua_aditivo }}%</p>
      <p>Agua: {{ item.agua }}%</p>
    </ion-item>
  </ion-list>

</ion-content>
