<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Concretera</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <h3 *ngIf="statusMessage" text-center class="text-md-secondary">{{ statusMessage }}</h3>
        <h3 *ngIf="!statusMessage" text-center class="text-md-danger">No Conectado</h3>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="notWorking()">
      <ion-col col-12>
        <button ion-button block color="secondary" (click)="onStart()">Iniciar</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <button ion-button block (click)="onPause()">{{ pauseButtonMessage }}</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <button ion-button block color="danger" (click)="onStop()">Parada de Emergencia</button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="values">
      <ion-col col-12>
        <h3>Arena: </h3>
        <h4>{{values[0]}} %</h4>
      </ion-col>

      <ion-col col-12>
        <h3>Cemento: </h3>
        <h4>{{values[1]}} %</h4>
      </ion-col>

      <ion-col col-12>
        <h3>Piedra: </h3>
        <h4>{{values[2]}} %</h4>
      </ion-col>

      <ion-col col-12>
        <h3>Agua + Aditivo: </h3>
        <h4>{{values[3]}} %</h4>
      </ion-col>

      <ion-col col-12>
        <h3>Agua: </h3>
        <h4>{{values[4]}} %</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
