<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Configuración</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="settingsForm" (ngSubmit)="settingsSubmit()" autocomplete="off">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input placeholder="Url HTTP" id="urlHttpField" type="text" required formControlName="url_http"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Url Websocket" id="urlWebsocketField" type="text" required formControlName="url_websocket"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button class="submit-btn" full type="submit" [disabled]="!settingsForm.valid" color="secondary">Guardar</button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
