<!--
  Generated template for the ManualPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>manual</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h3 text-center class="text-md-primary">{{ weightMessage }}</h3>
  <h3 text-center class="text-md-primary">{{ percentageMessage }}</h3>
  <h3 text-center class="text-md-secondary">{{ statusMessage }}</h3>
  <ion-list>
    <ion-item>
      <ion-label> Tapa - Silo 1</ion-label>
      <ion-toggle (ionChange)="onButtonClick(0)" [(ngModel)]="buttons[0]"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label> Vibrador - Silo 1</ion-label>
      <ion-toggle (ionChange)="onButtonClick(1)" [(ngModel)]="buttons[1]"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label> Tapa - Silo 2</ion-label>
      <ion-toggle (ionChange)="onButtonClick(2)" [(ngModel)]="buttons[2]"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label> Vibrador - Silo 2</ion-label>
      <ion-toggle (ionChange)="onButtonClick(3)" [(ngModel)]="buttons[3]"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label> Tapa - Silo 3</ion-label>
      <ion-toggle (ionChange)="onButtonClick(4)" [(ngModel)]="buttons[4]"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label> Vibrador - Silo 3</ion-label>
      <ion-toggle (ionChange)="onButtonClick(5)" [(ngModel)]="buttons[5]"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label> Bomba 1</ion-label>
      <ion-toggle (ionChange)="onButtonClick(6)" [(ngModel)]="buttons[6]"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label> Bomba 2</ion-label>
      <ion-toggle (ionChange)="onButtonClick(7)" [(ngModel)]="buttons[7]"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label> Tapa de extracción - Planetaria</ion-label>
      <ion-toggle (ionChange)="onButtonClick(8)" [(ngModel)]="buttons[8]"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label> Motor de planetaria</ion-label>
      <ion-toggle (ionChange)="onButtonClick(9)" [(ngModel)]="buttons[9]"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <button ion-button block color="danger" (click)="onButtonClick(10)">Parada de Emergencia</button>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
